{% extends '../layout.html' %} {% block content %}

<div class="container" ng-controller="RestAddCtrl">
    <h4>添加接口</h4>
    <hr>

    {% raw %}
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-md-2">wiki url</label>
            <div class="col-md-10">
                <input class="form-control" type="url" rows="5" ng-model="restData.wikiUrl">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2"><a class="fui-star text-danger"></a>项目-模块</label>
            <div class="col-md-5">
                <select class="form-control" ng-model="restData.projectId"
                        ng-options="p._id as p.name for p in projects"></select>
            </div>
            <div class="col-md-5">
                <select class="form-control" ng-model="restData.moduleId"
                        ng-options="m._id as m.name for m in modules[restData.projectId]"></select>
            </div>
        </div>

        <p><strong>请求方法</strong></p>
        <div class="form-group">
            <label class="col-md-2">接口名称</label>
            <div class="col-md-10">
                <input class="form-control" type="text" ng-model="restData.title">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">接口说明</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" ng-model="restData.remark"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">url 定义</label>
            <div class="col-md-10">
                <input class="form-control" type="text" ng-model="restData.urlPathDefine">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2"><a class="fui-star text-danger"></a>url Demo (不带"?")</label>
            <div class="col-md-10">
                <input class="form-control" type="text" ng-model="restData.urlPath">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2"><a class="fui-star text-danger"></a>方法</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="restData.method" ng-options="m as m for m in methods"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">请求参数</label>
            <div class="col-md-10">
                <table class="table" id="requestParamsTable">
                    <tr>
                        <th>#</th>
                        <th>参数</th>
                        <th>是否必须</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th><a ng-click="addReqParamLine()" class="fui-plus text-success"></a></th>
                    </tr>

                    <tr ng-repeat="reqParam in restData.requestParams">
                        <td>{{$index +1}}</td>
                        <td><input class="form-control" type="text" ng-model="reqParam.key"></td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" data-toggle="checkbox" class="custom-checkbox"
                                       ng-model="reqParam.required">
                                <span class="icons">
                                    <span class="icon-unchecked"></span><span class="icon-checked"></span>
                                </span>
                            </label>
                        </td>
                        <td><input class="form-control" type="text" ng-model="reqParam.type"></td>
                        <td><input class="form-control" type="text" ng-model="reqParam.remark"></td>
                        <td><a ng-click="removeReqParamLine($index)" class="fui-trash text-danger"></a></td>
                    </tr>
                </table>
            </div>
        </div>

        <hr>

        <p><strong>返回说明</strong></p>

        <div class="form-group">
            <label class="col-md-2">返回参数</label>
            <div class="col-md-10">
                <table class="table" id="responseParamsTable">
                    <tr>
                        <th>#</th>
                        <th>参数</th>
                        <th>是否必须</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th><a ng-click="addResParamLine()" class="fui-plus text-success"></a></th>
                    </tr>

                    <tr ng-repeat="resParam in restData.responseData">
                        <td>{{$index + 1}}</td>
                        <td><input class="form-control" type="text" ng-model="resParam.key"></td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" data-toggle="checkbox" class="custom-checkbox"
                                       ng-model="resParam.required">
                                <span class="icons">
                                    <span class="icon-unchecked"></span><span class="icon-checked"></span>
                                </span>
                            </label>
                        </td>
                        <td><input class="form-control" type="text" ng-model="resParam.type"></td>
                        <td><input class="form-control" type="text" ng-model="resParam.remark"></td>
                        <td><a ng-click="removeResParamLine($index)" class="fui-trash text-danger"></a></td>
                    </tr>
                </table>
            </div>
        </div>

        <p><strong>例子</strong></p>

        <div class="form-group">
            <label class="col-md-2">请求数据(JSON)</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="10" ng-model="restData.requestDemo"
                          ng-blur="checkRequestDemo()"></textarea>
                <div class="alert alert-danger" ng-show="error.requestDemo">
                    <span ng-bind="error.requestDemo"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2"><a class="fui-star text-danger"></a>返回数据(JSON)</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="10" ng-model="restData.responseDemo"
                          ng-blur="checkResponseDemo()"></textarea>
                <div class="alert alert-danger" ng-show="error.responseDemo">
                    <span ng-bind="error.responseDemo"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-10">
                <input class="btn btn-primary" ng-click="save()" value="保存"/>
            </div>
        </div>
    </form>
    {% endraw %}
</div>

{% if errMsg %}
<script type="text/javascript">
    alert('{{errMsg}}');
</script>
{%endif%}

{% endblock content %}

{% block footer %}
{% parent %}
<script src="http://static.eppqq.com/ui_lib/angular-1.2.27/angular.min.js"></script>
<script>
    var restApp = angular.module("restApp", []);

    restApp.controller('RestAddCtrl', ['$scope', '$http', function ($scope, $http) {
        $scope.id = '{{id}}';
        $scope.error = {};

        $http.get('/rest/add/data?id=' + $scope.id).success(function (data) {
//            console.log(data);
            $scope.restData = data.restData || {};
            $scope.methods = data.methods;
            $scope.projects = data.projects || [];
            $scope.modules = data.modules || {};
        });

        $scope.addReqParamLine = function () {
            $scope.restData.requestParams = $scope.restData.requestParams || [];
            $scope.restData.requestParams.push({});
        };

        $scope.removeReqParamLine = function (index) {
            $scope.restData.requestParams.splice(index, 1)
        };

        $scope.addResParamLine = function () {
            $scope.restData.responseData = $scope.restData.responseData || [];
            $scope.restData.responseData.push({});
        };

        $scope.removeResParamLine = function (index) {
            $scope.restData.responseData.splice(index, 1)
        };

        $scope.checkRequestDemo = function () {
            if ($scope.restData.requestDemo) {
                try {
                    $scope.restData.requestDemo = JSON.stringify(JSON.parse($scope.restData.requestDemo), null, '\t');
                    $scope.error.requestDemo = '';
                } catch (e) {
                    console.error(e);
                    $scope.error.requestDemo = 'JSON 格式不对: ' + e.message;
                }
            }
        };

        $scope.checkResponseDemo = function () {
            if ($scope.restData.responseDemo) {
                try {
                    $scope.restData.responseDemo = JSON.stringify(JSON.parse($scope.restData.responseDemo), null, '\t');
                    $scope.error.responseDemo = '';
                } catch (e) {
                    $scope.error.responseDemo = 'JSON 格式不对: ' + e.message;
                }
            }
        };

        var processing = false;
        $scope.save = function () {
            if (processing) {
                return;
            }
            if (!$scope.restData.urlPath) {
                alert('url Demo 不能为空')
            } else if (!$scope.restData.method) {
                alert('请求方法 不能为空')
            } else if (!$scope.restData.projectId) {
                alert('项目 不能为空')
            } else if (!$scope.restData.responseDemo) {
                alert('返回数据(JSON) 不能为空')
            } else {
                processing = true;
                console.log($scope.restData);
//                return;
                $http.post('/rest/add/data', $scope.restData).success(function (data) {
                    if (data.ok) {
                        location.href = '/rest/list';
                    } else {
                        processing = false;
                        alert(data.errMsg);
                    }
                });
            }
        };

    }]);
</script>
{% endblock footer %}
