{% extends '../layout.html' %} {% block content %}

<script>
    window.fn = {};
</script>

<div class="container">
    <h4>添加接口</h4>
    <hr>

    <form class="form-horizontal" role="form" action="/rest/add" method="post">

        <p><strong>请求方法</strong></p>
        <div class="form-group">
            <label class="col-md-2">接口名称</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="title" value="{{restData.title}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">接口说明</label>
            <div class="col-md-10">
                <textarea class="form-control" name="remark" rows="5">{{restData.remark}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">wiki url</label>
            <div class="col-md-10">
                <input class="form-control" type="url" name="wikiUrl" rows="5" value="{{restData.wikiUrl}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">url 定义</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="urlPathDefine" value="{{restData.urlPathDefine}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">url Demo (不带"?")</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="urlPath" value="{{restData.urlPath}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">方法</label>
            <div class="col-md-10">
                <select class="form-control" name="method">
                    {% for m in methods %}
                    <option value="{{m}}" {% if m== restData.method %}selected{% endif %}>{{m}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">请求参数</label>
            <div class="col-md-10">
                <table class="table" id="requestParamsTable">
                    <tr>
                        <th>#</th>
                        <th>参数</th>
                        <th>是否必须</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>
                            <a onclick="fn.addReqParamLine()" class="fui-plus text-success"></a>
                        </th>
                    </tr>

                    {% for reqParamKey, reqParamValue in restData.requestParams %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>
                            <input class="form-control" type="text" name="requestParams.key" value="{{reqParamKey}}">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="requestParams.required"
                                   value="{{reqParamValue.required}}">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="requestParams.type"
                                   value="{{reqParamValue.type}}">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="requestParams.remark"
                                   value="{{reqParamValue.remark}}">
                        </td>
                        <td><a onclick="fn.removeLine(this)" class="fui-trash text-danger"></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <hr>

        <p><strong>返回说明</strong></p>

        <div class="form-group">
            <label class="col-md-2">返回参数</label>
            <div class="col-md-10">
                <table class="table" id="responseParamsTable">
                    <tr>
                        <th>#</th>
                        <th>参数</th>
                        <th>是否必须</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>
                            <a onclick="fn.addResParamLine()" class="fui-plus text-success"></a>
                        </th>
                    </tr>

                    {% for resParamKey, resParamValue in restData.responseData %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><input class="form-control" type="text" name="responseData.key" value="{{resParamKey}}">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="responseData.required"
                                   value="{{resParamValue.required}}">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="responseData.type"
                                   value="{{resParamValue.type}}">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="responseData.remark"
                                   value="{{resParamValue.remark}}">
                        </td>
                        <td><a href="" class="fui-trash text-danger"></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <p><strong>例子</strong></p>

        <div class="form-group">
            <label class="col-md-2">请求数据(JSON)</label>
            <div class="col-md-10">
                <textarea class="form-control" name="requestDemo" id="requestDemo"
                          rows="10">{{restData.requestDemo}}</textarea>
                <div id="requestDemoErrMsg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">返回数据(JSON)</label>
            <div class="col-md-10">
                <textarea class="form-control" name="responseDemo" id="responseDemo"
                          rows="10">{{restData.responseDemo}}</textarea>
                <div id="responseDemoErrMsg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-10">
                {% if restData._id %}
                <input type="hidden" name="_id" value="{{restData._id + ''}}">
                {% endif %}
                <input type="submit" class="btn btn-primary" value="保存"/>
            </div>
        </div>
    </form>
</div>

{% if errMsg %}
<script type="text/javascript">
    alert('{{errMsg}}');
</script>
{%endif%}

{% endblock content %}

{% block footer %}
{% parent %}
<script>
    $(document).ready(function () {

        $('#requestDemo').on('blur', function (event) {
            checkJson('requestDemo', 'requestDemoErrMsg');
        });

        $('#responseDemo').on('blur', function (event) {
            checkJson('responseDemo', 'responseDemoErrMsg');
        });

        function checkJson(textareaId, errAlertId) {
            var responseDemo = $('#' + textareaId);
            var responseDemoText = responseDemo.val();
            try {
                responseDemoText = JSON.parse(responseDemoText);
                responseDemo.val(JSON.stringify(responseDemoText, null, '\t'));

                $('#' + errAlertId).html('');
            } catch (e) {
                var errMsg = e.message;
                errMsg = 'JSON 格式不对, "' + errMsg + '"';
                console.log(errMsg);
                $('#' + errAlertId).html('<div class="alert alert-danger">\n    <button type="button" class="close fui-cross" data-dismiss="alert"></button>\n    ' + errMsg + '\n</div>');
            }
        }

        fn.addReqParamLine = function () {
            $('#requestParamsTable').append('<tr>\n    <td></td>\n    <td><input class="form-control" type="text" name="requestParams.key"></td>\n    <td><input class="form-control" type="text" name="requestParams.required"></td>\n    <td><input class="form-control" type="text" name="requestParams.type"></td>\n    <td><input class="form-control" type="text" name="requestParams.remark"></td>\n    <td><a class="fui-trash text-danger"></a></td>\n</tr>')
        }

        fn.addResParamLine = function () {
            $('#responseParamsTable').append('<tr>\n    <td></td>\n    <td><input class="form-control" type="text" name="responseData.key"></td>\n    <td><input class="form-control" type="text" name="responseData.required"></td>\n    <td><input class="form-control" type="text" name="responseData.type"></td>\n    <td><input class="form-control" type="text" name="responseData.remark"></td>\n    <td><a class="fui-trash text-danger"></a></td>\n</tr>')
        }

        fn.removeLine = function (ele) {
            $(ele).parents('tr').remove();
        }
    });
</script>
{% endblock footer %}
