{% extends '../layout.html' %} {% block content %}

<div class="container">
    <h4>接口列表</h4>
    <hr>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <th>url</th>
            <th>方法</th>
            <th>说明</th>
            <th>wiki</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        {% for index, rest in restDatas %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{rest.title}}</td>
            <td>
                {% if rest.urlPath %}
                <a href="http://{{serverDomain}}{{rest.urlPath}}" target="_blank">http://{{serverDomain}}{{rest.urlPath}}</a>
                {% endif %}
            </td>
            <td>{{rest.method}}</td>
            <td>{{rest.remark}}</td>
            <td>
                {% if rest.wikiUrl %}
                <a href="{{rest.wikiUrl}}" target="_blank">WIKI</a>
                {% endif %}
            </td>
            <td>
                <a href="/rest/add?id={{rest._id + ''}}" class="fui-new text-primary"></a>
            </td>
            <td>
                <a href="/rest/delete?id={{rest._id + ''}}" class="fui-trash text-danger"></a>
            </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>

{% endblock content %}
